/* Author: Lluis Farre Castan (lluis.farre) */

html, body {
    font-family: 'Roboto', sans-serif;
    background-color: #F1F1F1;
    padding: 10px;
}

main {
    display: grid;
    grid-template-columns: 30% 70%;
}

nav{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav div{
    display: flex;
    flex-direction: row;
    padding: 30px;
}

nav div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav h3{
    font-weight: 700;
    color: #000000;
    font-size: 24px;
    margin: 0px;
}

nav p{
    font-weight: 400;
    color: #808080;
    font-size: 14px;
    margin: 0px;
}

nav a{
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    margin: 10px;
    width: 100%;
}

nav .selected {
    color: #6247AA;
    text-shadow: 0px 1px 5px rgba(0,0,0,0.68);
}

nav .unselected{
    color: #000000;
    text-shadow: unset;
}

nav .today:before {
    display: inline-flex;
    content: '';
    background-image: url("../../media/img/today-outline-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    padding-right: 10px;
}

.all-duties:before {
    display: inline-flex;
    content: '';
    background-image: url("../../media/img/list-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    padding-right: 10px;
}

nav .categories:before {
    display: inline-flex;
    content: '';
    background-image: url("../../media/img/categories-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    padding-right: 10px;
}

.button {
    font-weight: 500;
    font-size: 24;
    border: unset;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:center;
}

.hard-color-b{
    background-color: #6247AA;
    color: #FFFFFF;
}

.light-color-b{
    width: 172px;
    background-color: #AAA1C8;    
    color: #000000;
}

.lighter-color-b {
    background-color: rgba(170, 161, 200, 0.75);
    color: #000000;
}

.disabled-b{
    visibility: hidden;
}

.toolbar {
    display: flex;
    flex-direction: row;
}

.task-list {
    display: flex;
    flex-direction: column;
}

.task {
    display: flex;
    padding-top: 30px;
    grid-column-gap: 10px;
}

.task object {
    width: 30px;
    height: 30px;
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 120px;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.26); 
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.26);
}

.task-info {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding-right: 14px;
    padding-left: 25px;
    grid-column-gap: 33px;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.26); 
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.26);
}

.task-info img{
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.26); 
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.26);
}

.task-main h2 {
    font-weight: 400;
    size: 24px;
}

.task-main p{
    size: 14px;
    font-weight: 400;
    color: #808080;
}

.task-extra {
    margin-left: auto;
}

.task-extra p{
    text-align: right;
}

.task-extra div{
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.toolbar > *{
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.26); 
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.26);
}

.delete {
    width: 50px;
    margin-left: 14px;
    background-color: #C6C6C6;
}

.do {
    width: 50px;
    margin-left: 42px;
    background-color: #C6C6C6;
}

.delete object {
    width: 20px;
    height: 20px;
}

.do object {
    width: 20px;
    height: 20px;
}

form {
    margin-left: auto;
    background-color: rgba(170, 161, 200, 0.75);
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  input {
    all: unset;
    color: #000000;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  ::placeholder {
    color: #000000;
    opacity: 0.7; 
  }

  form button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
  form svg {
    color: #000000;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }

  .urgent {
      font-weight: 700;
      color: #6247AA;
      margin-right: 20px;
  }

  .selected-task {
    background-color: #AAA1C8;
  }

  .selected-task + div {
    background-color: rgba(170, 161, 200, 0.75);
  }